.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: auto;
}

.balance-container {
    display: flex;
    justify-content: space-around;
    height: 20%;
    width: 50%;
}

.balance-background{
    height: 70px;
    width: 250px;
    background-color: #e6e6e6;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
}

.button-group{
    display: flex;
    justify-content: space-around;
    height: 20%;
    width: 50%
}

.button-group button {
    height: 50px;
    width: 150px;
    background-color: #e6e6e6;
    border-radius: 20px;
    border: none;
}

.button-group button:hover {
    background-color: #cccccc;
}